@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="About">
    <h2>About Us</h2>
</hgroup>

<article>
    <div class="col-md-2">
        ">
        <img class="left" src="images/PoV1.jpg" width="200" height="250" alt="about">
    </div>
    <div class="col-md-10">
        <p class="lead">
            Point of View is a Trance duo formed in the summer of 2009. After a series of conversations at work the duo found they had a very similar taste in music, as well as a passion for sharing the great music they had discovered.
            Shortly after they started working together mixing several sets, and posting them for friends and fans to listen to.
            All while further developing their sound from dark progressive house to the light uplifting trance.
        </p>

        <p>
            They started throwing their talents at the production side of things in the fall of 2010 with a few side projects.
            One was their mashup of Alex MORPH's Sunset Boulevard and the classic DJ Encore's I see Right Through to You, both of which recieved great feedback.
            The mashup's were quickly supported by several DJ's across the world. Their mashup's even got air time on Ireland's own Orla Feeny and her radio show, Taster.
        </p>

        <p>
            Since then they have put more time into trying to spread their name around with submissions to multiple mix competitions and even winning a guest mix spot on Orla Feeny's Taster!
            Currently they are balancing their time in the studio for more productions to rock the dance floors with live shows at ENERGY Wednesdays and GROOVE Thursdays at the Karma Lounge!
        </p>

        <p>
            What does the future hold for Point of View? We guess you just need to stay tuned and see!
        </p>
    </div>
</article>

<aside>
    @*<h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>*@
    @*<ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>*@
</aside>