@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h2>Contact Us</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>MUSIC</h3>
    </header>
    <p>
        <span class="label">For music information or Demo Submissions please e-mail:</span>
        <span><a href="mailto:pointofviewdj@gmail.com">pointofviewdj@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>PRESS</h3>
    </header>
    <p>
        <span class="label">For press inquiries and press kit requests please e-mail:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>BOOKINGS</h3>
    </header>
    <p>
        <span class="label">For booking information please email:</span>
        <span><a href="mailto:pointofviewdj@gmail.com">pointofviewdj@gmail.com</a></span>
    </p>
</section>