@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section featured {
<section class="featured">
    <div class="row">
        <!--Start Home Page Photo -->
        @*<div class="col-md-4 col-md-offset-4">
            <h1>
                <img src="~/Images/PoV1.jpg" href="~/" alt="Responsive image" class="img-responsive, img-rounded">
            </h1>
        </div>*@
        <!--End Home Page Photo -->
        @*<hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Modify this template to jump-start your ASP.NET Web Pages application.</h2>
        </hgroup>*@
    </div>
    <div class="row">
        <p>
            <blockquote class="col-md-4 col-md-offset-1">
                <p>Keep and eye on theses guys, they are making moves!</p>
                <footer>David Reed of <cite title="Source Title"><strong>Tritonal</strong></cite></footer>
            </blockquote>
        </p>
        <p>
            <blockquote class="col-md-4 col-md-offset-5">
                <p>The hottest new Dj Duo from America!</p>
                <footer>Jose Spencer of <cite title="Source Title"><strong>Dj Mag</strong></cite></footer>
            </blockquote>
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML
        to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features
        that let you create beautiful sites using the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>