@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Music Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h2>Music</h2>
        </hgroup>
    </div>
</section>
}
<ol class="round">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h4><strong>End of the Year Madness Set 2012</strong></h4>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3158709&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
            <h4><strong>Euphoria 2013</strong></h4>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/87801896&amp;color=333333&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=true"></iframe>
            <h4><strong>Relativity Sessions - Episode 24</strong></h4>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/85532811&amp;color=333333&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=true"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
        </div>
    </div>
</ol>

    @*<ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML
                to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features
                that let you create beautiful sites using the latest web standards.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add NuGet packages and jump start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
            </li>

            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
            </li>
        </ol>*@
